<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div class="book book-single">
        <i class="fas fa-book-open book--icon"></i>
        <p> Title: <%= books[0].title %>
        </p>
        <p>Author: <%= books[0].author %>
        </p>

        <div class="btns"><a href="http://localhost:3000/books/b/edit/<%= books[0].id%>" class="edit">Edit</a>
            <form method="POST" action="?_method=DELETE">
                <button id="delete">Delete</button>
            </form>
        </div>


    </div>

</body>

</html>