<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <div id="error" class="message">
        <%= message %>
    </div>
    <div class="book-list">
        <% for(let i=0; i < books.length; i++){ %>
            <a href="http://localhost:3000/books/b/<%= books[i].id%>">
                <div class="book">
                    <i class="fas fa-book-open book--icon"></i>
                    <%= books[i].id %><b>
                            <%= books[i].title %>
                        </b><em>
                            <%= books[i].author %>
                        </em>
                </div>
            </a>
            <% } %>
    </div>
</body>

</html>